@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --light-color: #e5e5e5;
  --white-color: #ffffff;
  --blue-color: #334ac3;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--light-color);
}

.app-container {
  padding: 0;
}

.base-card {
  background: var(--white-color);
  border-radius: 5px;
}
